@import "tailwindcss";

body {
  background: #0b0b0b;
  color: white;
}

.input {
  width: 100%;
  background: #0b0b0b;
  border: 1px solid #222;
  border-radius: 12px;
  padding: 14px;
  outline: none;
}

.input:focus {
  border-color: #00ff88;
}